<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Optimisation and Scheduling System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {
                var role = ((FormsIdentity)User.Identity).Ticket.UserData;
                if (role == "Manager")
                {
                    <a href="/manager" class="navbar-brand">Optimisation and Scheduling System</a>
                }
                else if (role == "Driver")
                {
                    <a href="/driver" class="navbar-brand">Optimisation and Scheduling System</a>
                }
            }
            else
            {
                <a href="/" class="navbar-brand">Optimisation and Scheduling System</a>
            }

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        var role = ((FormsIdentity)User.Identity).Ticket.UserData;
                        if (role == "Manager")
                        {
                            <li class="nav-item"><a href="/manager" class="nav-link">Home</a></li>
                        }
                        else if (role == "Driver")
                        {
                            <li class="nav-item"><a href="/driver" class="nav-link">Home</a></li>
                        }
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Auth", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Login", "Login", "Auth", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Register", "Register", "Auth", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @Html.Partial("_ErrorMessages")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Optimisation and Scheduling System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
